/*
* Name: webpack-4-apps.css
* Definition : patches for webpack
*/
html > body > * {
  /* <app> or <my-app> */
  height: 100%; }

html > body > * > ui-application {
  height: inherit !important; }

ui-section > ui-frame > main > nav.tabs > ui-tag.unique-tab > h3,
ui-section[positiontabs="TOP"] > ui-frame > main > nav.tabs > ui-tag.unique-tab > h3 {
  margin-bottom: -1px; }

ui-section[positiontabs="BOTTOM"] > ui-frame > main > nav.tabs > ui-tag.unique-tab > h3 {
  margin-bottom: 0px;
  margin-top: -1px; }

ui-section[positiontabs="LEFT"] > ui-frame > main > nav.tabs > ui-tag.unique-tab > h3,
ui-section[positiontabs="RIGHT"] > ui-frame > main > nav.tabs > ui-tag.unique-tab > h3 {
  margin-bottom: 0px; }
